<h1>
  {{ name }}
</h1>

<dl>
  <dt>Name:</dt>
  <dd>{{name}}</dd>

  <dt>Age:</dt>
  <dd>{{age}}</dd>

  <dt>Method:</dt>
  <dd>{{getHeroDescription()}}</dd>

  <dt>Capitalized:</dt>
  <dd>{{capitalizedName}}</dd>
</dl>

<button
  *ngIf="name !== 'Superman'"
  (click)="changeHero()"
  class="btn btn-primary p-lg-1 mx-2">
  Change Name
</button>

<button
  *ngIf="age !== 30"
  (click)="changeAge()"
  class="btn btn-primary p-lg-1 mx-2">
  Change Age
</button>

<button (click)="resetForm()"
  class="btn btn-primary p-lg-1 mx-2">
  Reset
</button>
